<div class="overview-header">
  <h2>Seznam študentov</h2>
  <button
    pButton
    icon="pi pi-plus"
    label="Dodaj novega"
    class="p-button-primary"
    (click)="onAdd()"
  ></button>
</div>
<div class="pagination-controls" style="margin-bottom: 1rem;">
  <button pButton type="button" icon="pi pi-chevron-left" 
          (click)="prev()" 
          [disabled]="isFirstPage()" 
          text="true"></button>

  <button pButton type="button" icon="pi pi-refresh" 
          (click)="reset()" 
          text="true"></button>

  <button pButton type="button" icon="pi pi-chevron-right" 
          (click)="next()" 
          [disabled]="isLastPage()" 
          text="true"></button>
</div>
<p-table
  [value]="students"
  [paginator]="true"
  [rows]="rows"
  [rowsPerPageOptions]="[10, 25, 50, 100]"
  [first]="first"
  (onPage)="onPageChange($event)"
  responsiveLayout="scroll"
  class="p-datatable-gridlines styled-table"
  [showCurrentPageReport]="true"
  currentPageReportTemplate="Showing {first} to {last} of {totalRecords}"
  [totalRecords]="students.length"
>
  <!-- Table Header -->
  <ng-template pTemplate="header">
    <tr>
      <th>id</th>
      <th>Ime</th>
      <th>Priimek</th>
      <th>Email</th>
      <th>Predmeti</th>
      <th>Dejanja</th>
    </tr>
  </ng-template>

  <!-- Table Body -->
  <ng-template pTemplate="body" let-student let-i="rowIndex">
    <tr>
      <td>{{ student.id }}</td>
      <td>{{ student.firstName }}</td>
      <td>{{ student.lastName }}</td>
      <td>{{ student.email }}</td>
      <td>
        <ng-container *ngFor="let course of student.courses">
          <p-tag [value]="course" severity="info"></p-tag>
        </ng-container>
      </td>
      <td>
        <button
          type="button"
          pButton
          icon="pi pi-ellipsis-v"
          class="p-button-text"
          (click)="menu.toggle($event)"
        ></button>
        <p-menu
          #menu
          [popup]="true"
          [model]="getRowMenu(student)"
          appendTo="body"
        ></p-menu>
      </td>
    </tr>
  </ng-template>
</p-table>
